{:paths ["src"]

 :deps {org.clojure/clojure {:mvn/version "1.12.0"}
        com.fasterxml.jackson.core/jackson-databind {:mvn/version "2.17.0"}}

 :aliases
 {:run {:main-opts ["-m" "clouderby.client"]}

  :test-runner {:extra-paths ["test"]
                :extra-deps {io.github.cognitect-labs/test-runner {:git/tag "v0.5.1" :git/sha "dfb30dd"}}}

  :test {:extra-paths ["test"]
         :main-opts ["-m" "cognitect.test-runner"]
         :exec-fn cognitect.test-runner.api/test}

  :uberjar
  {:extra-deps {com.github.seancorfield/depstar {:mvn/version "2.1.303"}}
   :exec-fn hf.depstar/uberjar
   :exec-args {:jar "target/clouderby-client.jar"
               :aot true
               :main-class clouderby.client}}}}
