<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="clouderbyDataSource" class="org.apache.derby.jdbc.EmbeddedDataSource">
        <property name="databaseName" value="/tmp/data/appdb"/>
        <property name="createDatabase" value="create"/>
    </bean>

    <bean id="clouderbySessionManager" class="com.muledev.server.ClouderbySessionManager">
        <constructor-arg ref="clouderbyDataSource"/>
    </bean>

    <bean id="sqlExecutorInitializer" class="com.muledev.init.SqlExecutorInitializer">
        <property name="sessionManager" ref="clouderbySessionManager"/>
    </bean>

    <bean id="databaseInitializer" class="com.muledev.init.DatabaseInitializer" depends-on="clouderbyDataSource">
        <property name="dataSource" ref="clouderbyDataSource"/>
    </bean>

</beans>
